process.container = 'quay.io/nextflow/bash'

//params {
//    // References
//    genome           = 'GATK.GRCh38'
//	igenomes_base    = 's3://ngi-igenomes/igenomes/'
//
//}

params {
    // illumina iGenomes reference file paths
    genome_index               = "s3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta.fai"
}
